.about-container { 
	display: flex;
	padding: 2em 10em;
	justify-content: space-evenly;
	align-items: center;
}
.headshot img {
	max-height: 17em;
	box-shadow: -13px 13px #F95738;
	outline: 2px solid black;
}

.about-text {
	padding-left: 2em;
}

.about-text h2 {
	font-weight: 700;
	color: #F95738;
	font-size: 1.7em;
	/*text-shadow: 0 0 2px black;*/
}

.about-text p {
	font-size: 1.2em;
	text-align: left;
}

p.contact {
	/*color: #083D77;*/
	color: #92DCE5;
	font-size: 1.2em;
}
.contact a {
	font-weight: 700;
	color: #F95738;
	text-decoration: underline;
}

.contact a:hover {
	font-weight: 700;
	color: #F9E070;
	font-style: italic;
}

@media screen and (max-width: 1310px) { 

}
/* -------------------------------------
 * Small Browser Window / Tablet
 * ------------------------------------- */
@media screen and (max-width: 1000px) { 
	.about-container { 
		align-items: flex-start;
		padding: 1em 6em;
	}
	.headshot {
		padding: 4em 0 0 0;
	}
}
/* -------------------------------------
 * even smaller...
 * ------------------------------------- */
@media screen and (max-width: 850px) { 
	.about-container { 
		padding: .5em 4em;
	}
}
/* -------------------------------------
 * mobile phones
 * ------------------------------------- */
@media screen and (max-width: 767px) {
	.about-container {
		flex-direction: column-reverse;
    	justify-content: center;
    	padding: 0 1.7em;
	}
	.about-text {
		padding: 0 0;
		margin: auto;
	}
	.about-text .contact {
		text-align: center;
	}
	.headshot {
		margin: auto;
		padding: 0 0 2em 0;
	}
}

/*.about-container {
	background-color: red;
}

.about-text {
	background-color: yellow;
}

.headshot {
	background-color: blue;
}*/