
body {
  margin: 8px 0 0 0;
  max-width: 1200px;
  padding: 0 5%;
  font-family: 'Comfortaa', sans-serif;
  color: black;
  background: white;
}
.name-long, .name-initials {
  display: none;
}

.menuHeader {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}

.menuHeader .logoLeft img{
  height: 10em;
}

.menuItems {
  display: flex;
  flex-basis: 60%;
  justify-content: space-evenly;
  padding-left: 2em;
  margin: 0;
}

.menuItem .menuItemTitle {
  margin: 4em 0 0 0;
  padding: .25em;
  background-color: white;
  color: black;
  text-decoration: none;
}

.menuItem {
  padding: 4em 0 0 0;
  max-height: 10em;
  margin: 0 1.5em;
  -webkit-transition-timing-function: ease-in;
  -webkit-transition: padding .3s, margin .3s;
  transition: padding .3s, margin .3s;
  transition-timing-function: ease-in;
}

.menuItems .menuItem:hover {
  padding: 4em 1.5em 0 1.5em;
  margin: 0 0;
  font-weight: 700;
  background-size: cover;
  background-position: center top;
  background-repeat: space;
}


.bkgr-white:hover {
  background-color: white;
  color: black;
}
.bkgr-dkbl:hover, .bkgr-dkbl .menuItemTitle {
  background-color: #083D77;
  color: white;
}
.bkgr-ltbl:hover, .bkgr-ltbl .menuItemTitle {
  background-color: #92DCE5;
  color: white;
}
.bkgr-red:hover, .bkgr-red .menuItemTitle {
  background-color: #F95738;
  color: white;
}
.bkgr-yellow:hover, .bkgr-yellow .menuItemTitle {
  background-color: #F9E070;
  color: black;
}

.bkgrMacaroni:hover, .bkgrMacaroniRow {
  background-image: url("../images/modtex_color+outline-offset_macaroni.png");
}
.bkgrDots:hover, .bkgrDotsRow {
  background-image: url("../images/modtex_color+outline-offset_dots.png");
}
.bkgrLines:hover, .bkgrLinesRow {
  background-image: url("../images/modtex_color+outline-offset_lines.png");
}
.bkgrSquares:hover, .bkgrSquaresRow {
  background-image: url("../images/modtex_color+outline-offset_squares.png");
}
.bkgrSquiggles:hover, .bkgrSquigglesRow {
  background-image: url("../images/modtex_color+outline-offset_squiggles.png");
}
.bkgrDiamonds:hover, .bkgrDiamondsRow {
  background-image: url("../images/modtex_color+outline-offset_diamonds.png");
}

.bkgrMacaroniRow, .bkgrDotsRow, .bkgrLinesRow, .bkgrSquaresRow, .bkgrSquigglesRow, .bkgrDiamondsRow {
  height: 10em;
  background-size: cover;
  background-repeat: space;
  background-position: center top;
}
.bkgrSquaresRow, .bkgrDiamondsRow, .bkgrSquigglesRow {
  background-position: center center;
}


@media screen and (max-width: 1310px) { 
  body {
    padding: 0 0;
  }
  .menuHeader .logoLeft img{
    height: 7em;
  }
  .menuItem {
    max-height: 7em;
  }
  .bkgrMacaroniRow, .bkgrDotsRow, .bkgrLinesRow, .bkgrSquaresRow, .bkgrSquigglesRow, .bkgrDiamondsRow {
    height: 7em;
  }
}
/* -------------------------------------
 * Small Browser Window / Tablet
 * ------------------------------------- */
@media screen and (max-width: 1000px) { 
  .menuHeader .logoLeft img{
    height: 5em;
  }
  .menuItem {
    padding-top: 2em;
  }
  .menuItems .menuItem:hover {
    padding: 2em 1.5em 0 1.5em;
  }
  .bkgrMacaroniRow, .bkgrDotsRow, .bkgrLinesRow, .bkgrSquaresRow, .bkgrSquigglesRow, .bkgrDiamondsRow {
    height: 5em;
  }
}
/* -------------------------------------
 * yip yip
 * ------------------------------------- */
@media screen and (max-width: 850px) { 

  .menuItem {
    margin: 0 .7em;
    padding-top: 1.5em;
    /*max-height: 5em;*/
  }
  .menuItems .menuItem:hover {
    padding: 1.5em .7em 0 .7em;
    margin: 0 0;
  }
  .bkgr-dkbl:hover, .bkgrLines .menuItemTitle {
    background-color: #083D77;
    color: white;
  }
  .bkgr-ltbl:hover, .bkgrDots .menuItemTitle, .bkgrMacaroni .menuItemTitle {
    background-color: #92DCE5;
    color: white;
  }
  .bkgr-red:hover, .bkgrSquares .menuItemTitle {
    background-color: #F95738;
    color: white;
  }
  .bkgr-yellow:hover, .bkgrSquiggles .menuItemTitle {
    background-color: #F9E070;
    color: black;
  }
}
/* -------------------------------------
 * mobile phones
 * ------------------------------------- */
@media screen and (max-width: 767px) {
  .menuHeader {
    flex-direction: column;
    justify-content: center;
  }
  .menuHeader .logoLeft {
    margin: auto;
  }
  .menuItems {
    margin: auto;
    max-height: 4em;
    padding-left: 0;
  }
  .big-words {
    display: none;
    visibility: none;
  }
  .name-stacked {
    display: none;
  }
  .name-long {
    display: inline-block;
  }
  .bkgrMacaroniRow, .bkgrDotsRow, .bkgrLinesRow, .bkgrSquaresRow, .bkgrSquigglesRow, .bkgrDiamondsRow {
    background: none;
    /* couls also share the bkgr love and get neg margins going here...*/
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/******************************/
/*body {
  background-color: red;
}
.menuHeader {
  background-color: orange;
}
.menuItems {
  background-color: yellow;
}
.menuItem {
  background-color: green;
}
.bkgr-macaroni {
  background-color: blue;
}
.big-words {
  background-color: purple;
}*/

