body {
  max-width: 1200px;
  padding: 0 5%;
  /*font-family: "Noto Sans", sans-serif;*/
  font-family: 'Comfortaa', sans-serif;
  color: black;
  background: white;
}

.menuHeader {
  display: flex;
  justify-content: space-between;
}

.menuHeader .logoLeft{
  max-height: 10em;
}
.menuHeader .logoLeft img{
  height: 10em;
}

.menuItems {
  display: flex;
  /*justify-content: flex-end;*/
  justify-content: space-between;
  padding-left: 2em;
  margin: 0;
}

.menuItem .menuItemTitle {
  margin: 4em 0 0 0;
  padding: .25em;
  background-color: white;
  color: black;
  text-decoration: none;
}

.menuItem {
  padding: 4em 0 0 0;
  max-height: 10em;
  margin: 0 1.5em;
  -webkit-transition-timing-function: ease-in;
  -webkit-transition: padding .3s, margin .3s;
  transition: padding .3s, margin .3s;
  transition-timing-function: ease-in;
}

.menuItems .menuItem:hover {
  padding: 4em 1.5em 0 1.5em;
  margin: 0 0;
  font-weight: 700;
  background-size: cover;
  background-position: center top;
  background-repeat: space;
}


.menuItem.dkbl-aqui:hover .menuItemTitle {
  background-color: #083D77;
  color: white;
}

.bkgr-white:hover {
  background-color: white;
  color: black;
}
.bkgr-dkbl:hover {
  background-color: #083D77;
  color: white;
}
.bkgr-ltbl:hover {
  background-color: #92DCE5;
  color: white;
}
.bkgr-red:hover {
  background-color: #F95738;
  color: white;
}
.bkgr-yellow:hover {
  background-color: #F9E070;
  color: black;
}

.bkgr-dkbl .menuItemTitle {
  background-color: #083D77;
  color: white;
}
.bkgr-ltbl .menuItemTitle {
  background-color: #92DCE5;
  color: white;
}
.bkgr-red .menuItemTitle {
  background-color: #F95738;
  color: white;
}
.bkgr-yellow .menuItemTitle {
  background-color: #F9E070;
  color: black;
}


.bkgrMacaroni:hover {
  background-image: url("../images/modtex_color+outline-offset_macaroni.png");
}
.bkgrDots:hover {
  background-image: url("../images/modtex_color+outline-offset_dots.png");
}
.bkgrLines:hover {
  background-image: url("../images/modtex_color+outline-offset_lines.png");
}
.bkgrSquares:hover {
  background-image: url("../images/modtex_color+outline-offset_squares.png");
}
.bkgrSquiggles:hover {
  background-image: url("../images/modtex_color+outline-offset_squiggles.png");
}
.bkgrDiamonds:hover {
  background-image: url("../images/modtex_color+outline-offset_diamonds.png");
}

.bkgrMacaroniRow {
  background-image: url("../images/modtex_color+outline-offset_macaroni.png");
}
.bkgrDotsRow {
  background-image: url("../images/modtex_color+outline-offset_dots.png");
}
.bkgrLinesRow {
  background-image: url("../images/modtex_color+outline-offset_lines.png");
}
.bkgrSquaresRow {
  background-image: url("../images/modtex_color+outline-offset_squares.png");
}
.bkgrSquigglesRow {
  background-image: url("../images/modtex_color+outline-offset_squiggles.png");
}
.bkgrDiamondsRow {
  background-image: url("../images/modtex_color+outline-offset_diamonds.png");
}

.bkgrMacaroniRow, .bkgrDotsRow, .bkgrLinesRow, .bkgrSquaresRow, .bkgrSquigglesRow, .bkgrDiamondsRow {
  /*display: block;*/
  height: 10em;
  background-size: cover;
  background-repeat: space;
  background-position: center top;
  /*background-repeat: repeat-x;*/
}
.bkgrSquaresRow, .bkgrDiamondsRow {
  background-position: center center;
}

.bkgrSquigglesRow {
  background-position: center center;
}