body{
    background-image: url('lego.jpg');
    background-repeat: repeat;
    font-family: sans-serif;
    font-weight: 200;
    /*not auto 100% width: 
    http://stackoverflow.com/questions/6344380/100-div-width-is-not-really-100*/
    margin: 0;
    padding: 0;
}

.mainBar{
    width: 100%;
    background-color: #636363;
    height: 8em;
    margin: 1.5em 0em;
}

.mainBar img{
    float: left;
    display: inline-block;
    width: 6em;
    height: 6em;
    margin: 1em;
    margin-left: 2em;
}

.mainBar .name{
    float: right;
    color: white;
    margin-right: 2em;
}
.mainBar .name h3{ margin-top: .4em; font-style: italic; font-weight: 200;}
.mainBar .name a{text-decoration: none; color: white;}
.mainBar .name h2{ font-weight: 200;}

.leftBodyTxt{ float: left;}
.rightBodyTxt{ float: right;}
.leftBodyTxt, .rightBodyTxt{
    width: 70%;
    background-color: #d8d8d8;
    margin: .4em 1% 0 1%;
    padding: 0 1em 1em 1em;
    color: #636363;
    list-style-type: square;
}

.leftBodyTxt h3, .rightBodyTxt h3{color: #339999; font-weight: 200;}

.leftBodyTxt h2, .rightBodyTxt h2{color: #9A3370; font-weight: 200;}

.leftBar{
    width: 20%;
    float: left; 
}
.rightBar{
    width: 20%;
    float: right;    
}
.tab{
    color: white;
    background-color: #636363;
    margin: .4em;
    padding: .3em;
    text-align: center;
}

.tab a, #circleTab a{
    color: white;
}

#circleTab{
    color: white;
    background-color: #636363;
    margin: auto;
    margin-top: .4em;
    margin-top: .4em;
    padding: .3em;
    text-align: center;
    height: 10vw;
    width: 10vw;
    border-radius: 6vw;     
}

#circleTab img{
    height: 7vw;
    width: 7vw;
    vertical-align: center;
}

a{text-decoration: none;}

.tab:hover, #circleTab:hover{
    background-color: #339999;
    text-shadow: 1.5px 1.5px black;
}

@media all and (min-device-width: 240px) and (max-device-width: 600px), (min-device-width: 768px) and (min-width: 240px) and (max-width: 600px){

.rightBodyTxt, .leftBodyTxt{
    width: 92.5%;
    margin: 1.5em 0;
}

.rightBar, .leftBar{
    width: 100%;    
}
.tab{
    width: 80%;
    margin: .4em auto;
    padding: .3em;
}

#hideWhenSmall{
    display: none;
}
}